@import 'theme/colors';
@import 'theme/fonts';

@mixin flex($direction, $justify, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  @include flex(column, center, center);
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: yellow;
  .logo-container {
    @include flex(row, center, center);
    background: black;
    margin: 0.5rem 0 0.5rem 5%;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    
    .logo {
      // background: black;
      width: 1.75rem;
      height: 1.75rem;
      position: relative;
      right: 0.15rem;
    }
  }

}

.home {
  width: 100%;
  background: black;
  .title {
    @include flex(column, center, center);
    width: 90%;
    margin-left: 5%;

    h1 {
      background: pink;
      font-size: 4rem;
      margin-bottom: 1rem;
      color: $white;
      @extend .helveticaBold;
    }

    p {
      border: 3px solid orange;
      padding: 0.75rem;
      background: yellow;
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
    }

    a {
      background: red;
      color: $white;
      margin: 1rem 5% 2rem 5%;
      padding: 0.75rem 1.25rem;
      font-size: 1rem;
      letter-spacing: 1.5px;
      text-decoration: none;
      @extend .helveticaLight;
    }
  }
}






























